<%- include('header', { template: 'editor' }) %>

<div id="editor" style="width: 90%; margin: auto">
	<div class="ui card" style="width: 100%">
		<div class="ui form">
			<textarea id="editor-main" rows="30" style="width: calc(100% - 2em); margin: 1em 1em 1.5em; font-family: monospace">

			</textarea>
		</div>
		<div class="extra-content">
			<button class="ui button" id="editor-submit" style="width: calc(100% - 2em); margin: 0 1em 1em;">
				提交
			</button>
		</div>
	</div>
</div>


<script>
	var __yuyu_editor_text = "<%= encodeURIComponent(data.text) %>";
	var __yuyu_editor_data = "<%= encodeURIComponent(JSON.stringify({
		type: data.type,
		uri: data.uri,
	})) %>";
</script>

<script type="text/javascript" src="/js/editor.js"></script>

<%- include('footer') %>