		</div>
	</div>

</body>

<script type="text/javascript" src="/lib/js.cookie.min.js"></script>
<script type="text/javascript" src="/js/ui.js"></script>
<script type="text/javascript" src="/js/modules/readmode.js"></script>
<script type="text/javascript" src="/lib/semantic/semantic.min.js"></script>

</html>