#article {
	width: 95%;
	margin: auto;

	&>.ui.card {
		width: 97.5%;
		margin: auto;
	}
}

.article-tag {
	margin-right: 6px;
}

.article-title {
	padding-top: .6em;
	padding-bottom: 1.2em;
	text-align: center;
	font-size: 2.2em;
	line-height: 1.2em;
}