#article {
	width: 95%;
	margin: auto;

	&>.ui.card {
		width: 97.5%;
		margin: auto;
	}

	.article-tag {
		margin-right: 8px;
		color: #a0a0a0;
		transition: 0.2s color;
		font-size: .92em;

		&:hover {
			color: #4183c4;
		}
	}

	.article-title {
		padding-top: .42em;
		padding-bottom: .42em;
		font-size: 1.9em;
		line-height: 1.22em;
	}

	.ui.divider {
		margin: 37.5px -2333px 37.5px;
	}

	.view {
		display: flex;
		flex-direction: row;

		.left {
			width: calc(100% - 280px);

			.content {
				width: 100%;
			}
		}

		.right {
			width: 280px;
			padding-left: 40px;

			.ui.menu {
				position: sticky;
				align-self: start;
				top: 80px;
				border-right: none;
				border-left-width: 2px;
				border-left-style: solid;
				border-left-color: rgba(34,36,38,.15);

				.item {
					border-right: none;
					border-left-style: solid;
					border-left-color: transparent;
					border-left-width: 2px;
					margin: 0 0 0 -2px;

					&>i.icon{
						float: left;
						margin: 0 .5em 0 0;
					}
				}
			}
		}
	}
}