.md {

	.md-iframe {
		display: block;
		margin: auto;
		margin-top: 1em;
		margin-bottom: 1em;
		max-width: 98%;
		max-height: 100%;
	}

	.md-pdf-viewer {
		.md-iframe();
	}

	.md-iframe-onedrive {
		.md-iframe();
	}

}

.hljs {
	line-height: 1.6em;
	font-family: consolas, Menlo, 'Ubuntu Mono', monospace;
}